h1 {
  color: #565250;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 50px;
}
h2 {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 0.4;
  color: #565250;
}
h3 {
  font-weight: 200;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2;
  font-size: 10px;
  text-align: center;
  color: #565250;
  padding-top: 5px;
}
.card-body {
  background-color: #c2b2eef5;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/079/915/original/IMG_5723.JPG?1682969991);
  background-size: cover;
  background-repeat: none;
  opacity: 0.88;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  color: #565250;
}

.col-2 {
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #565250;
}
.temp {
  font-size: 50px;
  padding-top: 2px;
}
.form-control {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}
.btn.btn-dark:hover {
  background: #2b2129;
}
.btn.btn-dark {
  background-color: #e0dad2;
  border: none;
}

.weather-temperature .units {
  position: relative;
  top: 12px;
}
.vanilla-weather-app {
  max-width: 600px;
  margin: 0 auto;
  margin: 30px auto;
}

.link {
  color: #b3a4b1;
  font-weight: 200;
}

.link:hover {
  font-weight: 250;
  color: #b3a4b1;
}
.col-6 {
  padding-right: 15px;
  color: #565250;
  font-size: 15px;
}
.card-body {
  background-color: #e9e6e0;
}
